server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/nohpedro/config-swipe
          default-label: main
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,refresh

encrypt:
  key: miClaveSuperSecreta123
